:root { 
  --background-page: #293359; 
  --background-dropdown: #517cff; 
  --background-dropdown-disabled: #B9CBFF; 
  --text-color: #fff;
  --btn-color: #ec6866;
} 
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  color: #fff;
  color: var(--text-color);
  background-color: #293359; 
  background: var(--background-page);
}
button,
select {
  font-size: inherit;
  color: inherit;
}
a,
button {
  cursor: pointer;
}
.container {
  max-width: 70em;
  margin: 0 auto;
}
.currency-table {
  margin: 0 auto 2em;
  padding: 2em 0;
}
.currency-row {
  display: grid;
  grid-template-columns: repeat(5, minmax(10em, 1fr));
}
.currency-col {
  padding: .8em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.currency-dropdown {
  display: flex;
  justify-content: center;
}
.btn-delete {
  background: #ec6866;
  background: var(--btn-color);
  border: 0;
  padding: .4em 1.4em;
  border-radius: .3em;
}
.currency-select,
.price-select {
  background: #517cff;
  background: var(--background-dropdown);
  height: 2.2em;
}
.currency-select:disabled {
  background: #B9CBFF;
  background: var(--background-dropdown-disabled);
}
@media (max-width: 1460px) {
  body {
    font-size: 1.8rem;
  }
}