:root { 
  --background-page: #293359; 
  --background-header: #43D3AF;
  --background-dropdown: #517cff; 
  --background-dropdown-disabled: #B9CBFF; 
  --text-color: #fff;
  --btn-color: #ec6866;
} 
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3vw;
  font-weight: 300;
  color: #fff;
  color: var(--text-color);
  background-color: #293359; 
  background: var(--background-page);
}
button,
select {
  font-size: inherit;
  color: inherit;
}
a,
button {
  cursor: pointer;
}
img {
  display: block;
}
.header {
  background: #43D3AF;
  background: var(--background-header);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}
.logo {
  width: 6em;
  margin: 0 1em;
}
.title {
  font-weight: 400;
}
.container {
  max-width: 70em;
  margin: 0 auto;
  padding: 4em 1em;
}
.currency-table {
  margin: 0 auto 4em;
}
.currency-row {
  display: grid;
  grid-template-columns: repeat(5, minmax(10em, 1fr));
}
.currency-col {
  padding: .8em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.currency-dropdown {
  display: flex;
  justify-content: center;
}
.btn-delete {
  background: #ec6866;
  background: var(--btn-color);
  border: 0;
  padding: .4em 1.4em;
  border-radius: .3em;
}
.currency-select,
.price-select {
  background: #517cff;
  background: var(--background-dropdown);
  height: 2.2em;
}
.currency-select:disabled {
  background: #B9CBFF;
  background: var(--background-dropdown-disabled);
}
@media (max-width: 1460px) {
  body {
    font-size: 1.8rem;
  }
}
@media (max-width: 1000px) {
  .currency-row {
    display: flex;
    justify-content: space-between;
    padding: .5em;
  }
  .currency-head {
    justify-content: center;
  }
  .currency-row:not(:last-of-type) {
    border-bottom: 1px solid rgba(185, 203, 255, .3);
  }
  .currency-rank::before {
    content: 'CMC Rank:\00a0\00a0';
    color: rgba(185, 203, 255, .3);
  }
  .currency-head .currency-name,
  .currency-head .currency-rank,
  .currency-head .currency-symbol,
  .currency-head .currency-delete {
    display: none;
  }
}
@media (max-width: 650px) {
  .title {
    display: none;
  }
  .header {
    padding: 1em;
  }
  .currency-row {
    display: block;
  }
}